body{
    background-image: url("https://saitama-bg.com/texture/block/block01.jpg");
    background-size: cover;
}

h1{
    text-align: center;
}
h3{
    text-align: center;
}

.container{
    position: relative;
}
.photo{
    width: 97%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
}
.hide-1{
    width: 20%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 24%;
    left: 5%;
}
.hide-2{
    width: 20%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 24%;
    left: 27.5%;
}
.hide-3{
    width: 20%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 24%;
    left: 49.5%;
}
.hide-4{
    width: 23%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 24%;
    left: 72%;
}



.options{
    position: relative;
    /* width: 90%; */
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.photo-each{
    width: 20%;
    margin: auto;
    cursor: pointer;
}